<!--carousel-->
<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card fixed-top" style="width: 18rem;margin-top: 100px; margin-left: 50px;">
          <img src="../img/empresa4.jpg" class="card-img-top" alt="..."><i class="fas fa-camera" ></i>
          <div class="card-body">
            <h5 class="card-title">Nombre Empresa</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="../ModificarDatos_Empresa/CuentaE.html" class="btn btn-primary">Modificar Datos</a>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-12">
            <div class="card-body cards">
              <h5 class="card-title letras-slaide">Nombre Empresa <a><i class="fas fa-pencil-alt tamaño-lapiz "></i></a>
              </h5>
              <p class="card-text letras-slaide-p">Slogan <i class="fas fa-pencil-alt "></i></p>
            </div>
          </div>
        </div>
        <div class="jumbotron bg-blue">
          <div class="containers">
            <div class="row">
              <div class="col-sm-4">
                <img src="../img/Programacion33.jpg" style="height:80%; width:90%; border-radius: 10px;">
                <a><br><center><i class="fas fa-camera"></i></center></a>
              </div>
              <div class="col-sm-7">
                <h1>¿Quienes Somos? <a></a></h1>
                <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus dignissimos
                  reiciendis dolores, amet, sunt, magnam cum delectus
                  illum odio laboriosam qui rem deserunt quas quidem aliquam beatae id veritatis non.<a>
                    <i class="fas fa-pencil-alt "></i></a></p>
                <hr class="my-4">
              </div>
            </div>
          </div>
        </div>
        <!--Articulo con un Card-->
        <section>
          <div class="galeria-port">
            <div class="col-sm">
              <div class="card" style="width: 15rem;">
                <img src="../img/ProgramacionE1.jpg" height="160px" class="card-img-top" alt="...">
                <div class="card-body">
                  <h1 style="font-size: 30px;">Mision <a><i class="fas fa-pencil-alt tamaño-lapiz "></i></a></h1>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card" style="width: 15rem; ">
                <img src="../img/empresa2.jpg " height="160px" class="card-img-top" alt="...">
                <div class="card-body">
                  <h1 style="font-size: 30px;">Vision <a><i class="fas fa-pencil-alt tamaño-lapiz "></i></a></h1>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card" style="width: 15rem;">
                <img src="../img/Programacion10.jpg" height="160px" class="card-img-top" alt="...">
                <div class="card-body">
                  <h1 style="font-size: 30px;">Objetivos <a><i class="fas fa-pencil-alt tamaño-lapiz "></i></a></h1>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--Historia-->
        <section>
          <div class="jumbotron bg-blue">
            <div class="containers">
              <div class="row">
                <div class="col-sm-10">
                  <h1 class="texto" style="text-align: center;">Nuestra Historia <a></h1>
                  <p class="lead texto" style="text-align: center;">Lorem, ipsum dolor sit amet consectetur adipisicing
                    elit. Necessitatibus dignissimos reiciendis dolores, amet, sunt, magnam cum delectus
                    illum odio laboriosam qui rem deserunt quas quidem aliquam beatae id veritatis non Lorem, ipsum
                  <a><i class="fas fa-pencil-alt "></i></a></p>
                  <hr class="my-4">
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
<script>
    $(window).scroll(function () {
      if ($("#menu").offset().top > 90) {
        $("#menu").addClass("main");
      } else {
        $("#menu").removeClass("main");
      }
    });
</script>