<!--Navegador de Programación con sus respectivos Links-->
<nav id="menu" class="navbar navbar-expand-lg fixed-top bg-pink">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="assets/image/Inicio-Programador/coodybackground.png" alt="" width="130px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="text-align: center;">
                <ul class="navbar-nav ml-auto">                   
                    <li class="nav-item">
                        <a class="nav-link letracolor " href="/Gers_Angular/src/app/Components/notificaciones-user/notificaciones-user.component.html">Notificaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link letracolor" href="/Gers_Angular/src/app/Components/modificar-datos-user/modificar-datos-user.component.html">Modificar Datos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link letracolor" href="/Gers_Angular/src/app/Components/perfil-user/perfil-user.component.html">perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link letracolor " href="/Gers_Angular/src/app/Components/home-principal/home-principal.component.html">Salir</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--carousel-->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item height-carousel active">
                <img src="assets/image/Inicio-Programador/Programacion29.jpg" class="d-block w-100" alt="cod">
                <div class="carousel-caption d-none d-md-block ">
                    <div class="texto-encima">
                        <h5 class="letras-slaide" style="color:black"><b>Programa tu trabajo ideal</b></h5>       
                    </div>
                </div>
            </div>
            <div class="carousel-item height-carousel">
                <img src="assets/image/Inicio-Programador/Programacion28.jpg" class="d-block w-100" alt="off">
                <div class="carousel-caption d-none d-md-block ">
                    <div class="texto-encima">
                        <h5 class="letras-slaide"> <b>Programa tu trabajo ideal</b> </h5>              
                    </div>
                </div>
            </div>
            <div class="carousel-item height-carousel">
                <img src="assets/image/Inicio-Programador/Programacion24.jpg" class="d-block w-100" alt="prog">
                <div class="carousel-caption d-none d-md-block ">
                    <div class="texto-encima">
                        <h5 class="letras-slaide"> <b>Programa tu trabajo ideal</b> </h5>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--Imagen con Ondulación-->
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.99 C150.00,150.00 349.20,-49.99 500.00,49.99 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #ffffff;"></path>
            </svg></div>
    </div>
    <!--Articulo con un Card-->
    <section>
<h3 style="text-align: center;">Descubre las mejores ofertas laborales!</h3>
        <div class="galeria-port mt-5 mb-5">
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="assets/image/Inicio-Programador/empresa1.jpg" class="card-img-top" alt="..." height="200px">
                    <div class="card-body">
                        <h2 class="card-text">Nombre Empresa </h2>
                        <p class="card-text">EDescripcion de la oferta laboral</p>
                     <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">ver mas</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="assets/image/Inicio-Programador/empresa1.jpg" class="card-img-top" alt="..." height="200px">
                    <div class="card-body">
                        <h2 class="card-text">Nombres Empresa</h2>
                        <p class="card-text">Descripcion de la oferta laboral </p>
                     <a href="#" class="btn btn-primary">ver mas</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="assets/image/Inicio-Programador/empresa1.jpg" class="card-img-top" alt="..."  height="200px">
                    <div class="card-body">
                        <h2 class="card-text">Nombre Empresa</h2>
                        <p class="card-text">Descripcion de la oferta</p>
                     <a href="#" class="btn btn-primary">ver mas</a>
                    </div>
                </div>
            </div>    
        </div>
        <div class="galeria-port mb-5">
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="assets/image/Inicio-Programador/e1.jpg" class="card-img-top" alt="..." height="200px">
                    <div class="card-body">
                        <h2 class="card-text">Nombre Empresa </h2>
                        <p class="card-text">EDescripcion de la oferta laboral</p>
                     <a href="#" class="btn btn-primary">ver mas</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="card" style="width: 18rem;">
                    <img src="assets/image/Inicio-Programador/e1.jpg"class="card-img-top" alt="..." height="200px">
                    <div class="card-body">
                        <h2 class="card-text">Nombres Empresa</h2>
                        <p class="card-text">Descripcion de la oferta laboral </p>
                     <a href="#" class="btn btn-primary">ver mas</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="card" style="width: 18rem;">
                    <img src="assets/image/Inicio-Programador/e1.jpg" class="card-img-top" alt="..." height="200px">
                    <div class="card-body">
                        <h2 class="card-text">Nombre Empresa</h2>
                        <p class="card-text">Descripcion de la oferta</p>
                     <a href="#" class="btn btn-primary">ver mas</a>
                    </div>
                </div>
            </div>    
        </div>
        <div class="galeria-port mb-5">
            <div class="col-sm-3 ">
                <div class="card" style="width: 18rem;">
                    <img src="assets/image/Inicio-Programador/empresa1.jpg" class="card-img-top" alt="..." height="200px">
                    <div class="card-body">
                        <h2 class="card-text">Nombre Empresa </h2>
                        <p class="card-text">EDescripcion de la oferta laboral</p>
                     <a href="#" class="btn btn-primary">ver mas</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="assets/image/Inicio-Programador/empresa1.jpg" class="card-img-top" alt="..." height="200px">
                    <div class="card-body">
                        <h2 class="card-text">Nombres Empresa</h2>
                        <p class="card-text">Descripcion de la oferta laboral </p>
                     <a href="#" class="btn btn-primary">ver mas</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="assets/image/Inicio-Programador/empresa1.jpg" class="card-img-top" alt="..." height="200px">
                    <div class="card-body">
                        <h2 class="card-text">Nombre Empresa</h2>
                        <p class="card-text">Descripcion de la oferta</p>
                     <a href="#" class="btn btn-primary">ver mas</a>
                    </div>
                </div>
            </div>   
        </div>
        <div class="galeria-port mb-5">
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="assets/image/Inicio-Programador/e1.jpg" class="card-img-top" alt="..." height="200px">
                    <div class="card-body">
                        <h2 class="card-text">Nombre Empresa </h2>
                        <p class="card-text">EDescripcion de la oferta laboral</p>
                     <a href="#" class="btn btn-primary">ver mas</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="assets/image/Inicio-Programador/e1.jpg"class="card-img-top" alt="..." height="200px">
                    <div class="card-body">
                        <h2 class="card-text">Nombres Empresa</h2>
                        <p class="card-text">Descripcion de la oferta laboral </p>
                     <a href="#" class="btn btn-primary">ver mas</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="assets/image/Inicio-Programador/e1.jpg" class="card-img-top" alt="..." height="200px">
                    <div class="card-body">
                        <h2 class="card-text">Nombre Empresa</h2>
                        <p class="card-text">Descripcion de la oferta</p>
                     <a href="#" class="btn btn-primary">ver mas</a>
                    </div>
                </div>
            </div> 
        </div>
        <div class="galeria-port mb-5">
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="assets/image/Inicio-Programador/empresa1.jpg" class="card-img-top" alt="..." height="200px">
                    <div class="card-body">
                        <h2 class="card-text">Nombre Empresa </h2>
                        <p class="card-text">Descripcion de la oferta</p>
                     <a href="#" class="btn btn-primary">ver mas</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="card" style="width: 18rem;">
                    <img src="assets/image/Inicio-Programador/empresa1.jpg"class="card-img-top" alt="..." height="200px">
                    <div class="card-body">
                        <h2 class="card-text">Nombres Empresa</h2>
                        <p class="card-text">Descripcion de la oferta laboral </p>
                     <a href="#" class="btn btn-primary">ver mas</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="assets/image/Inicio-Programador/empresa1.jpg" class="card-img-top" alt="..."height="200px">
                    <div class="card-body">
                        <h2 class="card-text">Nombre Empresa</h2>
                        <p class="card-text">Descripcion de la oferta</p>
                     <a href="#" class="btn btn-primary">ver mas</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- bienvenida -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title" id="exampleModalLabel">Desarrollador Frontend 2020 (Remoto)</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body backgoud">
              <!-- grid -->
              <div class="container">
                <div class="row">
                  <div class="col-sm-4">
                    <img src="assets/image/Inicio-Programador/e1.jpg" alt="empresa" width="100%" height="auto" style="border-radius: 10px;">
                  </div>
                  <div class="col-sm-8 mt-2">
                      <h5>nombre de la empresa</h5>
                      <p>Ubicación </p>
                      <p>Salario </p>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error molestias quidem dolores ab modi quos architecto nemo eius quibusdam. Expedita!</li>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error molestias quidem dolores ab modi quos architecto nemo eius quibusdam. Expedita!</li>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error molestias quidem dolores ab modi quos architecto nemo eius quibusdam. Expedita!</li>
                  </div>    
                </div>    
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">cancelar</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Postularme</button>
            </div>
          </div>
        </div>
      </div>